body {
  margin: 0px;
}

audio {
  position: absolute;
  right: 0px;
  top: 0px;
}

#upload {
  position: absolute;
  right: 0px;
  top:50px;
}

#loader {
  position: absolute;
  width: 2%;
  left: 48%;
  top: 49%;
}

.rotate {
  -webkit-animation: rotate 3s infinite linear;
  -moz-animation: rotate 3s infinite linear;
  -o-animation: rotate 3s infinite linear;
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes rotate {
  from { -moz-transform: rotate(0deg) }
  to { -moz-transform: rotate(360deg) }
}
@-o-keyframes rotate {
  from { -o-transform: rotate(0deg) }
  to { -o-transform: rotate(360deg) }
}

#start {
  position: fixed;
  bottom: 10px;
  right: 10px;

}